.App {
  background: #36494e;
  height: 100vh;
  overflow: scroll; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

h1 {
  margin: 0; }
