ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

a {
  color: #ededec;
  padding-left: 1rem;
  text-decoration: none; }

p {
  padding-top: 1.55rem; }

.home-image {
  width: 250px;
  min-height: 2em;
  border: none;
  box-shadow: grey;
  padding: 1rem 0 0 4.5rem; }

.right-links {
  padding-top: 1.2rem; }

.login-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2.3rem; }

.signout-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2.3rem; }

.signout-button {
  background-color: #36494e;
  border: none;
  box-shadow: none;
  text-shadow: none;
  width: 125px; }

.welcome-text {
  color: #ededec;
  display: inline;
  font-size: 2rem;
  padding-right: 2.5rem;
  width: 250px; }

@media screen and (max-width: 950px) {
  .welcome-text {
    font-size: 1.4rem; }
  .signout-header {
    padding-right: 0; }
  .home-image {
    padding-left: 1rem;
    width: 175px; } }

@media screen and (max-width: 620px) {
  .welcome-text {
    font-size: 1rem;
    padding-right: 0;
    padding-left: 2rem; }
  .signout-button {
    padding-left: 0; }
  .home-image {
    padding-left: 0.5rem; } }

@media screen and (max-width: 540px) {
  .signout-header {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem; }
  .welcome-text {
    padding-left: 1rem; }
  .right-links {
    padding-left: 2.4rem; } }
